<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>修改</title>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<body>
	<div class="box">
		<form action="" method="post">
			<input type="text" name="username" class="username" value="<?php echo $v['username']; ?>"/><br>
			<textarea class="content" name="content" value="<?php echo $v['content']; ?>"></textarea><br>
			<input id="btn" type="submit" value="提交"/>
		</form>
	</div>
</body>
</html>