<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>仓储管理</title>
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/aside.css">
</head>
<body>
	<ul>
		<li>
			<h4>仓储库房</h4>
			<a href="{:U('Storage/Warehouse/index')}" target="content">库房管理</a>
		</li>
		<li>
			<h4>规则设置</h4>
			<a href="{:U('Storage/Rule/index')}" target="content">规则管理</a>
		</li>
		<li>
			<h4>快递管理</h4>
			<a href="{:U('Storage/Express/index')}" target="content">快递管理</a>
		</li>
	</ul>
</body>
</html>