/*顶部bar*/
.top-banner {
  margin-bottom: 20px;
  overflow: hidden;
}
/*左边栏内容*/
.aside {
  float: left;
  width: 192px;
  /*公告*/
  /*分类*/
  /*标签*/
  /*畅销榜*/
}
.aside .public-info {
  margin-bottom: 20px;
  background: #f2f2eb;
}
.aside .public-info li {
  padding: 15px 25px;
  text-align: center;
}
.aside .public-info .first-item {
  border-bottom: 1px dashed #ddd;
}
.aside .become-author {
  margin-bottom: 20px;
}
.aside .category {
  margin-bottom: 20px;
}
.aside .category .title {
  margin: 0;
}
.aside .category .items li {
  border-bottom: 1px solid #dddddd;
  line-height: 36px;
}
.aside .category .items a {
  display: block;
  padding-left: 5px;
  margin: 1px 0;
}
.aside .category .items a:hover {
  background: #f2f2eb;
}
.aside .tag {
  margin-bottom: 20px;
}
.aside .tag .items li {
  overflow: hidden;
}
.aside .tag .items li a {
  display: block;
  float: left;
  line-height: 18px;
  padding: 5px 10px;
  background: #f5f5f5;
  margin: 0 8px 8px 0;
}
.aside .tag .items li a:hover {
  background: #999;
}
.aside .best-selling {
  margin-bottom: 20px;
}
.aside .best-selling .tab {
  border-left: 1px solid #dddddd;
  margin-bottom: 10px;
}
.aside .best-selling .tab a {
  border-right: 1px solid #dddddd;
  padding: 0 5px;
  line-height: 20px;
}
.aside .best-selling .items li {
  margin: 5px 0;
  line-height: 25px;
}
.aside .best-selling .items li .info {
  display: inline-block;
}
.aside .best-selling .items li .gobuy {
  float: right;
  display: block;
  line-height: 50px;
}
/*右部分内容*/
.content {
  float: right;
  width: 710px;
  padding-left: 40px;
  /*公用内容块*/
}
.content .items ul {
  margin-top: 10px;
  overflow: hidden;
}
.content .items ul li {
  float: left;
}
/*编辑推荐*/
.recommend {
  margin-bottom: 20px;
  position: relative;
}
.recommend > a {
  display: block;
  width: 20px;
  height: 175px;
  line-height: 175px;
  text-align: center;
  font: 100 36px/175px Arial;
  color: #825d5b;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.recommend .slide-prev {
  left: -30px;
}
.recommend .slide-next {
  right: -10px;
}
.recommend .items li {
  width: 320px;
  border: 1px solid #f2f2eb;
  padding: 12px;
  margin: 0 9px 9px 0;
  background: #fff;
}
.recommend .items .cover {
  float: left;
  width: 110px;
  margin-right: 15px;
}
/*短作品*/
.short-work {
  margin-bottom: 20px;
}
.short-work .items li {
  border: 1px solid #f2f2eb;
  background: #fff;
  margin-right: 10px;
  padding: 12px;
  line-height: 20px;
}
.short-work .items .price {
  margin-top: 20px;
}
/*推荐作者*/
.recommend-author {
  margin-bottom: 20px;
}
.recommend-author .items li {
  width: 320px;
  border: 1px solid #f2f2eb;
  padding: 12px;
  margin: 0 9px 9px 0;
  background: #fff;
}
.recommend-author .items .cover {
  float: left;
  width: 60px;
  margin-right: 15px;
}
