a {
  color: #825d5b;
}
a:hover {
  background: #825d5b;
  color: #fff;
}
body {
  background: #fffff9;
}
/*栏目导航*/
.nav .logo > a {
  display: block;
  color: transparent;
  width: 104px;
  height: 26px;
  margin-right: 30px;
  background: url("../../../Images/logo_read.png") no-repeat;
}
/*主要内容的容器*/
.container {
  margin-top: 20px;
  /*模块标题*/
}
.container .title {
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
.container .title > h2 {
  margin-bottom: 5px;
  display: inline-block;
}
