.tab {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
/*左边栏内容*/
.aside {
  float: left;
  width: 192px;
  /*性质分类*/
  /*分类*/
  /*畅销榜*/
}
.aside li {
  line-height: 30px;
}
.aside li a {
  padding: 5px 10px;
  border-radius: 3px;
}
.aside .kind {
  margin-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
.aside .category {
  margin-bottom: 20px;
}
.aside .best-selling {
  margin-bottom: 20px;
}
.aside .best-selling .tab {
  border-left: 1px solid #dddddd;
  margin-bottom: 10px;
}
.aside .best-selling .tab a {
  border-right: 1px solid #dddddd;
  padding: 0 5px;
  line-height: 20px;
}
.aside .best-selling .items li {
  margin: 5px 0;
  line-height: 25px;
}
.aside .best-selling .items li .info {
  display: inline-block;
}
.aside .best-selling .items li .gobuy {
  float: right;
  display: block;
  line-height: 50px;
}
/*右部分内容*/
.content {
  float: right;
  width: 710px;
  padding-left: 40px;
  /*列表头tab*/
  /*列表内容*/
  /*列表内容图片*/
  /*列表内容信息*/
}
.content .head-tab {
  margin-bottom: 20px;
  overflow: hidden;
  line-height: 20px;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #dddddd;
  /*tab子导航*/
}
.content .head-tab h4 {
  float: left;
}
.content .head-tab .head-nav {
  float: right;
}
.content .head-tab .first-tab {
  border-right: 1px solid #dddddd;
  padding-right: 15px;
  margin-right: 15px;
}
.content .head-tab ul {
  float: left;
}
.content .head-tab ul li {
  float: left;
}
.content .head-tab ul li a {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
}
.content .items li {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}
.content .cover {
  float: left;
  margin-right: 13px;
}
.content .cover a {
  background: none;
}
.content .cover img {
  width: 90px;
  height: 134px;
}
.content .item-info {
  overflow: hidden;
  /*列表项目的头部信息*/
  /*价格信息*/
  /*描述*/
}
.content .item-info .title {
  border: 0;
  margin: 0;
  margin-bottom: 5px;
}
.content .item-info h3 {
  display: inline-block;
}
.content .item-info h3 a {
  display: inline-block;
  font-size: 18px;
}
.content .item-info .price {
  float: right;
  line-height: 26px;
}
.content .item-info .price span {
  color: #999;
  margin-right: 5px;
}
.content .item-info .price a {
  padding: 5px 15px;
  border-radius: 3px;
}
.content .item-info .price a.try-read {
  background: #825d5b;
  color: #fff;
}
.content .item-info .price a.add-cart {
  background: #edede3;
  border: 1px solid #dddddd;
}
.content .item-info .price i {
  display: inline-block;
  width: 17px;
  height: 14px;
  background: url("../../../Images/icon-cart.png") no-repeat 0 -16px;
  background-size: 17px 30px;
  margin-right: 3px;
  vertical-align: -2px;
}
.content .item-info p {
  line-height: 1.8;
}
.content .item-info p a {
  padding-top: 1px;
}
.content .item-info .synopsis {
  margin-top: 5px;
  line-height: 18px;
}
