<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>编辑管理员信息</title>
	<link rel="stylesheet" href="__PUBLIC__/Org/Bootstrap/css/Bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/content.css">
</head>
<body>
	<div class="warp">
		<div class="submenu">
			<div class="left">
				<a href="-{:U('Admin/Admin/index')}-">管理员列表</a>
				<span>|</span>
				<a href="-{:U('Admin/Admin/add')}-">添加管理员</a>
			</div>
			<div class="right">
				<a href="">后退</a>
				<span>|</span>
				<a href="">刷新</a>
			</div>
		</div>
		<div class="content">
			<form action="-{:U('Admin/Admin/operate')}-" method="post">
				<table class="content-table">
					<tbody>
						<tr class="title">
							<td colspan="10">编辑管理员信息：</td>
						</tr>
						<tr>
							<td width="10%">用户名：</td>
							<td>-{$oldData.username}-</td>
						</tr>
						<tr>
							<td>所属部门：</td>
							<td>
								<select name="department_id">
									<foreach name="deptList" item="v">
										<option value="-{$v.id}-" <if condition="$v['id'] eq $oldData['department_id']">selected="selected"</if> >
											-{$v.name}-
										</option>
									</foreach>
								</select>
							</td>
						</tr>
						<tr>
							<td>所属角色：</td>
							<td>
								<select name="role_id">
									<foreach name="roleList" item="v">
										<option value="-{$v.id}-" <if condition="$v['id'] eq $oldData['role_id']">selected="selected"</if> >
											-{$v.name}-
										</option>
									</foreach>
								</select>
							</td>
						</tr>
						<tr>
							<td width="10%">姓名：</td>
							<td><input type="text" name="real_name" value="-{$oldData.real_name}-"></td>
						</tr>
						<tr>
							<td width="10%">邮箱：</td>
							<td><input type="text" name="mail" value="-{$oldData.mail}-"></td>
						</tr>
						<tr>
							<td width="10%">电话：</td>
							<td><input type="text" name="phone" value="-{$oldData.phone}-"></td>
						</tr>
						<tr>
							<td width="10%">是否锁定：</td>
							<td>
								否<input type="radio" name="is_lock" value="0" <eq name="oldData.is_lock" value="0">checked="checked"</eq> >
								是<input type="radio" name="is_lock" value="1" <eq name="oldData.is_lock" value="1">checked="checked"</eq> >
							</td>
						</tr>
						<tr class="btn">
							<input type="hidden" name="id" value="-{$oldData.id}-">
							<td><input type="submit" value="修改"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</body>
</html>