<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品</title>
	<link rel="stylesheet" href="__STATIC__/Css/public.css">
	<link rel="stylesheet" href="__STATIC__/Css/aside.css">
</head>
<body>
	<ul>
		<li>
			<h4>商品管理</h4>
			<a href="{|U:'Product/Product/index'}" target="content">列表</a>
			<a href="{|U:'Product/Product/add'}" target="content">添加</a>
		</li>
		<li>
			<h4>品牌管理</h4>
			<a href="{|U:'Product/Brand/index'}" target="content">列表</a>
			<a href="{|U:'Product/Brand/add'}" target="content">添加</a>
		</li>
		<li>
			<h4>类别管理</h4>
			<a href="{|U:'Product/Category/index'}" target="content">分类管理</a>
			<a href="{|U:'Product/Attribute/index'}" target="content">属性管理</a>
		</li>
	</ul>
</body>
</html>