<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设置</title>
	<link rel="stylesheet" href="__STATIC__/Css/public.css">
	<link rel="stylesheet" href="__STATIC__/Css/aside.css">
</head>
<body>
	<ul>
		<li>
			<h4>个人设置</h4>
			<a href="http://www.baidu.com/" target="content">修改密码</a>
			<a href="" target="content">修改个人信息</a>
		</li>
		<li>
			<h4>系统用户</h4>
			<a href="" target="content">部门管理</a>
			<a href="" target="content">角色管理</a>
			<a href="http://www.baidu.com/" target="content">管理员管理</a>
		</li>
		<li>
			<h4>系统配置</h4>
			<a href="" target="content">常规设置</a>
		</li>
	</ul>	
</body>
</html>