*{padding:0px;margin:0px;}
a{text-decoration:none;}
img{border:0px;vertical-align:middle;}
ul,li {list-style:none;}
body{font:14px/1.5 arial,"Microsoft YaHei";color:#8C8C8C; }

/*start head*/
div#head-box { width:100%;height:36px;margin-bottom:25px;border-bottom:1px solid #dfdfdf;background:#FAFAFA; }
div#head-box #head { width:1240px;line-height:34px;margin:0px auto;position:relative;}
div#head-box #head a{font-size:12px;color:#8C8C8C;}
div#head-box #head a:hover{color:#333;}
div#head-box #head span{border-right:1px solid #dfdfdf;margin:0px 12px;font-family:sans-serif;font-size:8px;position:relative;top:-1px;}
div#head-box #head .head-l {width:600px;height:36px;float:left;}
div#head-box #head .head-r {width:100px;height:36px;float:right;position:relative;}
div#head-box #head .head-r .head-r-box {position:absolute;right:0px;}
div#head-box #head .head-r .head-r-box .login { position:relative;right:-2px;}
/*end head*/

/*start content*/
div#container { width:1240px;height:600px;margin:0px auto;background:#fff; }
/*start logo,search*/
div#container #top{height:70px;margin-bottom:15px;}
div#container #top .logo{width:70px;height:70px;float:left;}
div#container #top .top-r{height:70px;float:right;}
div#container #top .top-r .open-time{height:20px;text-align:right;margin-bottom:10px;}
div#container #top .top-r .open-time a{width:150px;line-height:17px;display:block;float:right;font-size:12px;color:#8C8C8C;background:url(../images/icon-open-buy.png) no-repeat 10px 2px;}
div#container #top .top-r .open-time a:hover{color:orange;}
div#container #top .top-r .search .search-form{width:422px;height:38px;float:left;margin-right:10px;border:1px solid #dfdfdf;position:relative;}
div#container #top .top-r .search .search-form input.search-text{width:352px;height:20px;line-height:20px;padding:9px 15px;border:none;float:left;font-size:14px;outline:none}
div#container #top .top-r .search .search-form input.search-btn {width:40px;height:40px;font-size:25px;color:#777;border:1px solid #dfdfdf;border-right:none;background-color:#fff;line-height:20px;position:relative;top:-1px;}
div#container #top .top-r .search .search-form .hot-words{width:170px;height:20px;font-size:12px;position:relative;top:-31px;right:-213px;}
div#container #top .top-r .search .search-form .hot-words a{line-height:18px;display:inline-block;color:#333;margin-left:5px;padding:1px 1px;background:#f3f3f3}
div#container #top .top-r .search .search-form .hot-words a:hover{background:#ccc;}
div#container #top .top-r .search .cart{width:126px;height:40px;line-height:40px;float:right;}
div#container #top .top-r .search .cart a{display:block;width:104px;line-height:20px;text-align:center;color:#333;background:#ffdb3d;padding:9px 10px;border:1px solid #ffdb3d;}

/*end logo,search*/

/*start kinds,nav,banners*/
div#container #content{height:642px;}
/*start	nav*/
div#container #content .nav{width:100%;height:50px;background:#404144;}
div#container #content .nav .all-kinds{width:248px;height:50px;float:left;background:#ff4a00; }
div#container #content .nav .all-kinds a{display:block;line-height:50px;margin-left:20px;font-size:18px;color:#fff;}
div#container #content .nav .nav-items{width:992px;height:50px;float:left; }
div#container #content .nav .nav-items ul li{float:left;}
div#container #content .nav .nav-items ul li a{display:block;line-height:50px;padding:0px 24px;font-size:18px;color:#fff;}
div#container #content .nav .nav-items ul li a#shequ{width:50px;padding:0px 20px;text-align:center;}
div#container #content .nav .nav-items ul li a:hover{background:#333;}
/*end nav*/
/*start	kinds*/
div#container #content .main .kinds{width:248px;float:left; }
div#container #content .main .kinds ul li{border:1px solid #dfdfdf;border-top:none;}
div#container #content .main .kinds ul li .kinds-d{height:43px;padding:15px 10px 15px 7px;border-left:3px solid #fff;}
div#container #content .main .kinds ul li .kinds-d:hover{border-left:3px solid #ff4a00;background:#FAFAFA;}
div#container #content .main .kinds ul li .kinds-d .t{color:#ff4a00;margin-left:10px;}
div#container #content .main .kinds ul li .kinds-d .s{margin-left:10px;}
div#container #content .main .kinds ul li .kinds-d .s a{color:#6d6d6d;display:inline-block;margin:1px 3px 0px 0px;}
div#container #content .main .kinds ul li .kinds-d .s a:hover{color:#333;}
/*end kinds*/
/*start	banners*/
div#container #content .main .banners{width:992px;float:right;}
/*div#container #content .main .banners .banner-t{}*/
/*div#container #content .main .banners .banner-t .banner-ts{}*/
/*div#container #content .main .banners .banner-t .banner-ts img{}*/
div#container #content .main .banners .banner-b #banner-bs1{width:329px;}
div#container #content .main .banners .banner-b .banner-bs{float:left;border:1px solid #dfdfdf;border-left:none;}
div#container #content .main .banners .banner-b .banner-bs img{width:330px;height:170;}
/*end kinds,nav,banners*/

/*开始	层展示*/
div#container #floors{margin-top:10px;}
div#container #floors h3{font-size:18px;color:#333;font-weight:normal;line-height:50px;}
div#container #floors h3 a.floor-t{font-size:14px;color:#6d6d6d;margin-left:5px;}
div#container #floors h3 a.floor-t:hover{color:#333;}
div#container #floors h3 a.floor-m{font-size:14px;color:#333;}
div#container #floors h3 a.floor-m:hover{color:#ff4a00;}
div#container #floors .floor-star .star-box .star-img{float:left;width:309px;height:309px;border:1px solid #dfdfdf;border-left:none;}
div#container #floors .floor-star .star-box #star-img1{border-left:1px solid #dfdfdf;width:308px;}
div#container #floors .floor-star .star-box .star-img .img-border-box{height:289px;padding:4px;border:6px solid #fff;}
div#container #floors .floor-star .star-box .star-img .img-border-box:hover{border-color:#dfdfdf;}
div#container #floors .floor-star .star-box .star-img a img{display:block;margin:0px auto;padding:10px 0px;}
div#container #floors .floor-star .star-box .star-img .img-explain{text-align:center;}
div#container #floors .floor-star .star-box .star-img .img-explain a{display:block;color:#333;font-size:16px;line-height:20px;}
div#container #floors .floor-star .star-box .star-img .img-explain a:hover{color:#ff4a00;}
div#container #floors .floor-star .star-box .star-img .img-explain span{font-size:10px;}

/*开始 层展示 新品上架*/
div#container #floors .floor-new .new-box{border:1px solid #dfdfdf;height:700px;}
div#container #floors .floor-new .new-box .new-l .img-border-box{border:6px solid #fff;}
div#container #floors .floor-new .new-box .new-l .img-border-box:hover{border-color:#dfdfdf;}
div#container #floors .floor-new .new-box .new-l .img-explain{margin:25px 0px 0px 20px;}
div#container #floors .floor-new .new-box .new-l .img-explain a{display:block;color:#000;}
div#container #floors .floor-new .new-box .new-l .img-explain a:hover{color:#ff4a00;}
div#container #floors .floor-new .new-box .new-l .img-explain span{color:#000;}

div#container #floors .floor-new .new-box .new-l{float:left;height:929px;}
div#container #floors .floor-new .new-box .new-l .new-l-items{float:left;}
/*div#container #floors .floor-new .new-box .new-l .new-l-t1{width:620px;height:310px;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}*/
/*div#container #floors .floor-new .new-box .new-l .new-l-t2{width:310px;height:310px;float:left;}*/

/*end 层展示*/
/*end content