* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
}
a {
  text-decoration: none;
}
li,
ol {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
div.clear {
  clear: both;
}
div .cart_top {
  position: relative;
  height: 32px;
  line-height: 32px;
  color: #999;
  width: 960px;
  margin: 0px auto;
}
div .cart_top .user_box {
  position: absolute;
  right: 0px;
  top: 0px;
}
div .cart_top .user_box a {
  color: #ED155B;
}
div .cart_top .user_box a.out,
div .cart_top .user_box a.query {
  color: #999;
}
div .cart_top .user_box i.tips {
  font-style: normal;
}
div .cart_header_box {
  border-bottom: 2px solid #E5E5E5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
div .cart_header_box .cart_header {
  width: 960px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}
div .cart_header_box .cart_header .order_path_1 {
  background: url(../images/order_path.jpg) no-repeat;
}
div .cart_header_box .cart_header .order_path_2 {
  background: url(../images/order_path.jpg) no-repeat 0px -50px;
}
div .cart_header_box .cart_header .order_path {
  width: 392px;
  height: 50px;
}
#container {
  width: auto;
  min-height: 450px;
  margin: 0px auto auto;
  padding: 15px 0px;
  background: #fff;
}
#container #group_show {
  width: 960px;
  margin: 0px auto;
}
#container #group_show .cart_empty {
  padding: 50px 70px 70px;
}
#container #group_show .cart_empty .cart_empty_right {
  margin-left: 50px;
}
#container #group_show .cart_empty .cart_empty_right h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 400;
  color: #C9C9C9;
}
#container #group_show .cart_empty .cart_empty_right p.cart_empty_backtip {
  vertical-align: top;
  line-height: 33px;
  height: 33px;
  color: #999;
}
#container #group_show .cart_empty .cart_empty_right p.cart_empty_backtip a.btn {
  width: 98px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  text-align: center;
  background: transparent -moz-linear-gradient(center top, #FA417D, #F0145C) repeat scroll 0% 0%;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}
#container #group_show .content_header {
  margin-top: 5px;
}
#container #group_show .content_header .icon_small {
  background: url(../images/icons.png) no-repeat -8px -5px;
  vertical-align: -5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-style: normal;
}
#container #group_show .content_header .cart_timer_wrapper {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
#container #group_show .content_header .cart_timer_wrapper span.cart_timer_counting span.cart_timer_text {
  color: #ED155B;
}
#container #group_show .content_header .top_banner {
  float: right;
  height: 30px;
}
#container #group_show .content_header .top_banner ul.header_icons li {
  float: left;
  margin-left: 10px;
  display: inline;
}
#container #group_show .content_header .top_banner ul.header_icons li span {
  float: left;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  overflow: hidden;
  cursor: default;
}
#container #group_show .content_header .top_banner ul.header_icons li span i.header_icon {
  float: left;
  width: 26px;
  height: 25px;
  margin-right: 5px;
  background: transparent url(../images/header_sprites1.png) no-repeat scroll 0% 0%;
}
#container #group_show .content_header .top_banner ul.header_icons li span i.header_icon.icon_zhenpin {
  background-position: 0px -107px;
}
#container #group_show .content_header .top_banner ul.header_icons li span i.header_icon.icon_tuihuo {
  background-position: 0px -142px;
}
#container #group_show .content_header .top_banner ul.header_icons li span i.header_icon.icon_baoyou {
  background-position: 0px -177px;
}
#container #group_show .content_header .common_shippment {
  padding-top: 5px;
  color: #FA8801;
  clear: both;
}
#container #group_show .content_header .common_shippment i.icon_baoyou {
  width: 35px;
  padding-left: 5px;
  background-position: -2px -86px;
  position: relative;
  top: -5px;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item {
  width: 100%;
  margin: 10px 0px 0px;
  border: 1px solid #EEE;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 12px;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item th {
  height: 34px;
  padding: 0px;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid #EEE;
  background: #FAFAFA none repeat scroll 0% 0%;
  color: #000;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item th.cart_overview {
  width: 56%;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item th.cart_price,
#container #group_show .content_header .groups_wrapper table.cart_group_item th.cart_num {
  width: 12%;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item th.cart_total,
#container #group_show .content_header .groups_wrapper table.cart_group_item th.cart_option {
  width: 10%;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item th .cart_group_header {
  height: 34px;
  line-height: 34px;
  text-align: left;
  border-left: 5px solid #ED145B;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item th .cart_group_header input.cart_group_selector {
  margin: 0px 0px 0px 5px;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item th .cart_group_header h2 {
  margin: 0px 5px 0px 2px;
  padding: 0px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_desc input.cart_item_selector {
  float: left;
  margin: 40px 0px 0px 8px;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_desc .cart_item_desc_wrapper {
  margin: 0px 0px 0px 30px;
  padding: 20px 0px 0px 11px;
  width: 100%;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_desc .cart_item_desc_wrapper a.cart_item_pic {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  margin: 0px 10px 20px 0px;
  overflow: hidden;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_desc .cart_item_desc_wrapper a.cart_item_link {
  display: inline-block;
  max-width: 250px;
  height: 18px;
  line-height: 16px;
  color: #000;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_desc .cart_item_desc_wrapper .sku_info {
  height: 22px;
  line-height: 22px;
  color: #999;
  text-align: left;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option {
  height: 60px;
  padding: 20px;
  text-align: center;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price a.delete_item,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num a.delete_item,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option a.delete_item {
  background-position: -7px -27px;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price a.delete_item:hover,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num a.delete_item:hover,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option a.delete_item:hover {
  background-position: -36px -27px;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price p.jumei_price,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num p.jumei_price,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option p.jumei_price {
  margin-bottom: 3px;
  font-weight: 700;
  font-family: Arial, Helvetica;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price p.market_price,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num p.market_price,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option p.market_price {
  color: #999;
  text-decoration: line-through;
  font-family: Arial, Helvetica;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price .item_quantity_editer,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num .item_quantity_editer,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option .item_quantity_editer {
  width: 74px;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price .item_quantity_editer .decrease_one,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num .item_quantity_editer .decrease_one,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option .item_quantity_editer .decrease_one {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #CCC;
  cursor: not-allowed;
  font-size: 16px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  background: transparent url(../images/cart_num_editer_bg.jpg) repeat-x scroll 0px 0px;
  -moz-user-select: none;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price .item_quantity_editer .item_quantity,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num .item_quantity_editer .item_quantity,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option .item_quantity_editer .item_quantity {
  width: 30px;
  float: left;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-width: 1px 0px;
  border-style: solid none;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-color: #E0E0E0;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_price .item_quantity_editer .increase_one,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_num .item_quantity_editer .increase_one,
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_option .item_quantity_editer .increase_one {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #666;
  font-size: 16px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  background: transparent url(../images/cart_num_editer_bg.jpg) repeat-x scroll 0px 0px;
  -moz-user-select: none;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_total {
  height: 60px;
  padding: 0px;
  text-align: center;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item_total .item_total_price {
  margin-bottom: 3px;
  color: #ED155B;
  font-weight: 700;
  font-family: Arial, Helvetica;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .group_total_price {
  margin-right: 10px;
  color: #ED155B;
  font-weight: 700;
  font-size: 14px;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item tfoot tr {
  line-height: 30px;
  text-align: right;
  color: #999;
  background: #FAFAFA none repeat scroll 0% 0%;
}
#container #group_show .content_header .groups_wrapper table.cart_group_item .cart_item {
  border-collapse: collapse;
  border-bottom: 1px solid #EEEEEE;
}
#container #group_show .common_handler {
  width: 958px;
  height: 48px;
  margin: 10px 0px;
  line-height: 48px;
  border: 1px solid #EEE;
  background: #FAFAFA none repeat scroll 0% 0%;
}
#container #group_show .common_handler .right_handler {
  height: 100%;
}
#container #group_show .common_handler .right_handler .total_amount,
#container #group_show .common_handler .right_handler .total_price {
  color: #ED155B;
  font-size: 14px;
  font-weight: 700;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}
#container #group_show .common_handler .right_handler .total_price {
  font-size: 18px;
}
#container #group_show .common_handler .right_handler #go_to_order {
  width: 145px;
  height: 100%;
  margin: 0px 0px 0px 10px;
  font-size: 18px;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
  display: inline-block;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background: transparent -moz-linear-gradient(center top, #FA417D, #F0145C) repeat scroll 0% 0%;
}
#footer_container {
  overflow: hidden;
  margin-top: 0px;
  border-top: 1px solid #DDD;
  background: #F2F2F2;
}
#footer_container #footer_copyright {
  text-align: center;
  line-height: 20px;
  padding-bottom: 20px;
  color: #000;
  width: 960px;
  margin: 0px auto;
  overflow: hidden;
}
#footer_container #footer_copyright p.footer_copy_con {
  padding: 10px 0;
}
#footer_container #footer_copyright p.footer_copy_con a {
  color: #000;
}
#footer_container #footer_copyright p.footer_copy_con a:hover {
  text-decoration: underline;
}
#footer_container #footer_copyright p .footer_copy_logo {
  width: 127px;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #D7D7D7;
  display: inline-block;
  margin: 0px 4px;
  background: transparent url(../images/header_corn_new_v2.png) no-repeat scroll center top;
}
#footer_container #footer_copyright p .footer_copy_logo.logo01 {
  background-position: 0px -168px;
}
#footer_container #footer_copyright p .footer_copy_logo.logo02 {
  background-position: 0px -219px;
}
#footer_container #footer_copyright p .footer_copy_logo.logo03 {
  background-position: 0px -270px;
}
#footer_container #footer_copyright p .footer_copy_logo.logo04 {
  background-position: 0px -321px;
}
#footer_container #footer_copyright p .footer_copy_logo.logo05 {
  background-position: 0px -372px;
}
/*# sourceMappingURL=cart.css.map */
