<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>属性管理</title>
	<link rel="stylesheet" href="../public.css">
	<link rel="stylesheet" href="./content.css">
</head>
<body>
	<div class="warp">
		<div class="content-menu">
			<div class="left">
				<a href="./attr.html">属性列表</a>
				<span>|</span>
				<a href="./attr-add.html">添加属性</a>
			</div>
			<div class="right">
				<a href="">后退</a>
				<span>|</span>
				<a href="">刷新</a>
			</div>
		</div>
		<div class="content-text">
			<table>
				<thead>
					<tr>
						<td>ID</td>
						<td>属性名称</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>衣服</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>