<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>豆瓣阅读</title>
	<link rel="stylesheet" href="../Public/Css/public.css">
	<link rel="stylesheet" href="../Public/Css/read-style.css">
	<link rel="stylesheet" href="../Public/Css/read.css">
</head>
<body>
	<!-- 顶栏导航 begin -->
	<div class="header">
		<div class="global-nav">
			<ul>
				<li><a href="">豆瓣</a></li>
				<li><a href="">读书</a></li>
				<li><a href="">电影</a></li>
				<li><a href="">阅读</a></li>
				<li><a href="">东西</a></li>
			</ul>
		</div>
		<div class="global-info">
			<a href="">登录</a>
			<a href="">注册</a>
		</div>
		
	</div>
	<!-- 顶部导航 end -->
	<!-- 栏目头部 begin -->
	<div class="nav">
		<div class="warp">
			<div class="primary">
				<div class="logo">
					<a href="">豆瓣阅读</a>
				</div>
				<div class="search">
					<form action="">
						<input type="text" placeholder="书名、作者、ISBN">
						<input type="submit" value="Search">
					</form>
				</div>
			</div>
		</div>
		<div class="secondary">
			<div class="memu">
				<ul>
					<li><a href="">原创作品</a></li>
					<li><a href="">电子图书</a></li>
					<li><a href="">专栏</a></li>
					<li><a href="">连载</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 栏目头部 end -->
	<!-- 内容容器 begin -->
	<div class="container">
		<!-- 左部边栏 begin -->
		<div class="aside">
			<div class="public-info">
				<ul>
					<li class="first-item">
						<span>6826</span>
						位作者在此写作
					</li>
					<li>
						<span>5374</span>
						部独家作品在售
					</li>
				</ul>
			</div>
			<!-- 成为作者 begin -->
			<div class="become-author">
				<div class="title">
					<h2>成为作者</h2>
				</div>
				<div class="items">
					<p>个人作者可以在豆瓣上直接发布作品。 内容领域不限，唯一要求是质量优秀。 开售后，作者可直接从作品销售中获得分成。</p>
				</div>
			</div>
			<!-- 成为作者 end -->
			<!-- 作品分类 begin -->
			<div class="category">
				<div class="title">
					<h2>作品分类</h2>
				</div>
				<div class="items">
					<ul>
						<li>
							<a href="">讲个好故事</a>
						</li>
						<li>
							<a href="">讲个好故事</a>
						</li>
						<li>
							<a href="">讲个好故事</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 作品分类 end -->
			<!-- 标签 begin -->
			<div class="tag">
				<div class="title">
					<h2>标签</h2>
				</div>
				<div class="items">
					<ul>
						<li>
							<a href="">独家作品</a>
							<a href="">小故事</a>
							<a href="">黑色幽默</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 标签 end -->
			<!-- 畅销排行 begin -->
			<div class="best-selling">
				<div class="title">
					<h2>畅销排行</h2>
				</div>
				<div class="tab">
					<a href="">虚构</a>
					<a href="">非虚构</a>
				</div>
				<div class="items">
					<ul>
						<li>
							<h4><a href="">书名：破茧</a></h4>
							<span>作者：程皎旸</span>
						</li>
						<li>
							<h4><a href="">书名：破茧</a></h4>
							<span>作者：程皎旸</span>
						</li>
						<li>
							<h4><a href="">书名：破茧</a></h4>
							<span>作者：程皎旸</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- 畅销排行 end -->
		</div>
		<!-- 左部边栏 end -->
		<!-- 右部内容 begin -->
		<div class="content">
			<div class="top-banner">
				<a href=""><img src="../../Images/banner-read-top.jpg" height="205" width="710" alt=""></a>
			</div>
			<!-- 编辑推荐 begin -->
			<div class="recommend">
				<div class="title">
					<h2>编辑推荐</h2>
				</div>
				<a class="slide-prev" href="">‹</a>
				<div class="items">
					<ul>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/read-recommend.jpg" height="164" width="110" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">再见印度—克什米尔</a></h3>
								<p class="author">作者:pahud 等</p>
								<p class="des">描述:自由摄影师Pahud和Emilie携手猫力，一百多张从未公开的照片，纪录三人最纯真的一次旅行。</p>
								<p class="price"><span>2.99元</span><a href="">试读</a></p>
							</div>
						</li>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/read-recommend.jpg" height="164" width="110" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">再见印度—克什米尔</a></h3>
								<p class="author">作者:pahud 等</p>
								<p class="des">描述:自由摄影师Pahud和Emilie携手猫力，一百多张从未公开的照片，纪录三人最纯真的一次旅行。</p>
								<p class="price"><span>2.99元</span><a href="">试读</a></p>
							</div>
						</li>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/read-recommend.jpg" height="164" width="110" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">再见印度—克什米尔</a></h3>
								<p class="author">作者:pahud 等</p>
								<p class="des">描述:自由摄影师Pahud和Emilie携手猫力，一百多张从未公开的照片，纪录三人最纯真的一次旅行。</p>
								<p class="price"><span>2.99元</span><a href="">试读</a></p>
							</div>
						</li>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/read-recommend.jpg" height="164" width="110" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">再见印度—克什米尔</a></h3>
								<p class="author">作者:pahud 等</p>
								<p class="des">描述:自由摄影师Pahud和Emilie携手猫力，一百多张从未公开的照片，纪录三人最纯真的一次旅行。</p>
								<p class="price"><span>2.99元</span><a href="">试读</a></p>
							</div>
						</li>
					</ul>
				</div>
				<a class="slide-next" href="">›</a>
			</div>
			<!-- 编辑推荐 end -->
			<!-- 短作品 begin -->
			<div class="short-work">
				<div class="title">
					<h2>短作品</h2>
					<span>篇幅 3—5 万字，2 小时能读完。大部分作品是首次发表。</span>
					<a href="">更多></a>
				</div>
				<div class="items">
					<ul>
						<li>
							<a href=""><img src="../../Images/bookpic.jpg" height="158px" width="106px" alt=""></a>
							<div class="item-info">
								<p><a class="bookname" href="">东京</a></p>
								<p class="author">郭恒在</p>
								<p class="price"><strong>2.99元</strong></p>
							</div>
						</li>
						<li>
							<a href=""><img src="../../Images/bookpic.jpg" height="158px" width="106px" alt=""></a>
							<div class="item-info">
								<p><a class="bookname" href="">活在自己的世界</a></p>
								<p class="author">十页</p>
								<p class="price"><strong>2.99元</strong></p>
							</div>
						</li>
						<li>
							<a href=""><img src="../../Images/bookpic.jpg" height="158px" width="106px" alt=""></a>
							<div class="item-info">
								<p><a class="bookname" href="">活在自己的世界</a></p>
								<p class="author">十页</p>
								<p class="price"><strong>2.99元</strong></p>
							</div>
						</li>
						<li>
							<a href=""><img src="../../Images/bookpic.jpg" height="158px" width="106px" alt=""></a>
							<div class="item-info">
								<p><a class="bookname" href="">活在自己的世界</a></p>
								<p class="author">十页</p>
								<p class="price"><strong>2.99元</strong></p>
							</div>
						</li>
						<li>
							<a href=""><img src="../../Images/bookpic.jpg" height="158px" width="106px" alt=""></a>
							<div class="item-info">
								<p><a class="bookname" href="">活在自己的世界</a></p>
								<p class="author">十页</p>
								<p class="price"><strong>2.99元</strong></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 短作品 end -->
			<!-- 推荐作者 begin -->
			<div class="recommend-author">
				<div class="title">
					<h2>推荐作者</h2>
				</div>
				<div class="items">
					<ul>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/photo.jpg" height="58" width="58" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">作者名字：李霄峰</a></h3>
								<p class="author-info">作者介绍：李霄峰，曾用笔名Liar，出版有个人文集《失败者之歌》，曾编剧主演张元电影《达达》；2014年完成其导演处女作《少女哪吒》（改编自绿妖同名小说），将于2015年7月9日全国公映。</p>
								<p class="author-work"><a href="">《作者作品》</a></p>
							</div>
						</li>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/photo.jpg" height="58" width="58" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">作者名字：李霄峰</a></h3>
								<p class="author-info">作者介绍：李霄峰，曾用笔名Liar，出版有个人文集《失败者之歌》，曾编剧主演张元电影《达达》；2014年完成其导演处女作《少女哪吒》（改编自绿妖同名小说），将于2015年7月9日全国公映。</p>
								<p class="author-work"><a href="">《作者作品》</a></p>
							</div>
						</li>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/photo.jpg" height="58" width="58" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">作者名字：李霄峰</a></h3>
								<p class="author-info">作者介绍：李霄峰，曾用笔名Liar，出版有个人文集《失败者之歌》，曾编剧主演张元电影《达达》；2014年完成其导演处女作《少女哪吒》（改编自绿妖同名小说），将于2015年7月9日全国公映。</p>
								<p class="author-work"><a href="">《作者作品》</a></p>
							</div>
						</li>
						<li>
							<div class="cover">
								<a href=""><img src="../../Images/photo.jpg" height="58" width="58" alt=""></a>
							</div>
							<div class="item-info">
								<h3><a href="">作者名字：李霄峰</a></h3>
								<p class="author-info">作者介绍：李霄峰，曾用笔名Liar，出版有个人文集《失败者之歌》，曾编剧主演张元电影《达达》；2014年完成其导演处女作《少女哪吒》（改编自绿妖同名小说），将于2015年7月9日全国公映。</p>
								<p class="author-work"><a href="">《作者作品》</a></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 推荐作者 end -->
		</div>
		<!-- 右部内容 end -->
	</div>
	<!-- 内容容器 end -->
</body>
</html>