<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>编辑管理员信息</title>
	<link rel="stylesheet" href="__STATIC__/Org/Bootstrap/css/Bootstrap.min.css">
	<link rel="stylesheet" href="__STATIC__/Css/public.css">
	<link rel="stylesheet" href="__STATIC__/Css/content.css">
</head>
<body>
	<div class="warp">
		<div class="submenu">
			<div class="left">
				<a href="{|U:'Admin/Admin/index'}">管理员列表</a>
				<span>|</span>
				<a href="{|U:'Admin/Admin/add'}">添加管理员</a>
			</div>
			<div class="right">
				<a href="">后退</a>
				<span>|</span>
				<a href="">刷新</a>
			</div>
		</div>
		<div class="content">
			<form action="{|U:'Admin/Admin/operate'}" method="post">
				<table class="content-table">
					<tbody>
						<tr class="title">
							<td colspan="10">编辑管理员信息：</td>
						</tr>
						<tr>
							<td width="10%">用户名：</td>
							<td>{$oldInfo.username}</td>
						</tr>
						<tr>
							<td>所属部门：</td>
							<td>
								<select name="department_id">
									<option value="-1">必选</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>所属角色：</td>
							<td>
								<select name="role_id">
									<option value="-1">必选</option>
								</select>
							</td>
						</tr>
						<tr>
							<td width="10%">姓名：</td>
							<td><input type="text" name="real_name" value="{$oldInfo.real_name}"></td>
						</tr>
						<tr>
							<td width="10%">邮箱：</td>
							<td><input type="text" name="mail" value="{$oldInfo.mail}"></td>
						</tr>
						<tr>
							<td width="10%">电话：</td>
							<td><input type="text" name="phone" value="{$oldInfo.phone}"></td>
						</tr>
						<tr>
							<td width="10%">是否锁定：</td>
							<td>
								否<input type="checkbox" name="is_lock" <if value="0 == $oldInfo['is_lock']">checked="checked"</if> >
								是<input type="checkbox" name="is_lock" <if value="1 == $oldInfo['is_lock']">checked="checked"</if> >
							</td>
						</tr>
						<tr class="btn">
							<input type="hidden" name="id" value="{$oldInfo.id}">
							<td><input type="submit" value="修改"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</body>
</html>