<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<link rel="stylesheet" href="__PUBLIC__/Org/Bootstrap/css/Bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/content.css">
	<script src="__PUBLIC__/Org/jquery-1.7.2.min.js"></script>
	<script src="__PUBLIC__/Org/cal/lhgcalendar.min.js"></script>
</head>
<body>
	<div class="submenu">
		<div class="left">
			<a href="{:U('Product/Product/index')}">商品列表</a>
			<span>|</span>
			<a href="{:U('Product/Product/add')}">添加商品</a>
		</div>
		<div class="right">
			<a href="">后退</a>
			<span>|</span>
			<a href="">刷新</a>
		</div>
	</div>
	<div class="content">
		<div class="search">
			<form action="{:U('Product/Product/index')}" method="post">
				<table class="search-table">
					<tr>
						<td width="8%">商品ID：</td>
						<td width="40%"><input type="text" name="product_id"></td>
						<td width="8%">货号：</td>
						<td width="40%"><input type="text" name="goods"></td>
					</tr>
					<tr>
						<td>所属分类：</td>
						<td>
							<select name="category_cid">
								<option value="-1">-- 不限 --</option>
								<foreach name="cateInfo" item="v">
									<option value="{$v.cid}">{$v._name}</option>
								</foreach>
							</select>
						</td>
						<td>所属品牌：</td>
						<td>
							<select name="brand_id">
								<option value="-1">-- 不限 --</option>
								<foreach name="brandInfo" item="v">
									<option value="{$v.id}">{$v.name}</option>
								</foreach>
							</select>
						</td>	
					</tr>
					<tr class="date">
						<td>上市日期：</td>
						<td>
							<input type="text" readonly="readonly" id="manuf_date_start" name="manuf_date_start" class="hd-w150">
							&nbsp;&nbsp;&nbsp;
							<input type="text" readonly="readonly" id="manuf_date_end" name="manuf_date_end" class="hd-w150">
						</td>
						<td>添加日期：</td>
						<td>
							<input type="text" readonly="readonly" id="add_date_start" name="add_date_start" class="hd-w150">
							&nbsp;&nbsp;&nbsp;
							<input type="text" readonly="readonly" id="add_date_end" name="add_date_end" class="hd-w150">
						</td>
					</tr>
					<tr class="name">
						<td>商品标题：</td>
						<td colspan="10"><input type="text" name="name"></td>	
					</tr>
					<tr><td><input type="submit" value="搜索"></td></tr>
					<tr><td colspan="3"><a href="">按搜索条件导出</a></td></tr>
				</table>
			</form>
		</div>
		<table class="content-table">
			<thead>
				<tr>
					<td width="5%" align="center">商品ID</td>
					<td width="8%" align="center">商品图片</td>
					<td width="10%" align="center">货号</td>
					<td width="30%" align="left">商品名称</td>
					<td width="6%" align="center">所属分类</td>
					<td width="6%" align="center">品牌</td>
					<td width="5%" align="center">市场价</td>
					<td width="8%" align="center">上市日期</td>
					<td width="8%" align="center">添加日期</td>
					<td width="10%" align="center">管理操作</td>
				</tr>
			</thead>
			<tbody>
				<foreach name="productList" item="v">
					<tr>
						<td align="center">{$v.id}</td>
						<td align="center">
							<empty name="$v['pic']">
								<img src="__PUBLIC__/Images/default_s.gif" alt="" width="60px">
							<else />
								<img src="__HTTP_UPLOAD__/Product/{$v.pic}" alt="" width="60px">
							</empty>
						</td>
						<td align="center">{$v.goods}</td>
						<td align="left">{$v.name}</td>
						<td align="center">{$v.category_name}</td>
						<td align="center">{$v.brand_name}</td>
						<td align="center">{$v.marked_price}</td>
						<td align="center">{$v.manuf_date|date='Y-m-d',###}</td>
						<td align="center">{$v.add_date|date='Y-m-d',###}</td>
						<td align="center">
							<a href="{:U('Product/Product/edit',array('id'=>$v['id']))}">编辑</a>
							<a href="{:U('Product/Product/del',array('id'=>$v['id']))}">删除</a>
						</td>
					</tr>
				</foreach>
			</tbody>
		</table>
	</div>
<script type="text/javascript">
	$(function() {
        $('#manuf_date_start').calendar({format: 'yyyy/MM/dd'});
        $('#manuf_date_end').calendar({format: 'yyyy/MM/dd'});
        $('#add_date_start').calendar({format: 'yyyy/MM/dd'});
        $('#add_date_end').calendar({format: 'yyyy/MM/dd'});
    })
</script>
</body>
</html>
