<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SKU列表</title>
	<link rel="stylesheet" href="__PUBLIC__/Org/Bootstrap/css/Bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/content.css">
	<script src="__PUBLIC__/Org/jquery-1.7.2.min.js"></script>
	<script src="__PUBLIC__/Org/cal/lhgcalendar.min.js"></script>
</head>
<body>
	<div class="submenu">
		<div class="left">
			<a href="{:U('Stock/Sku/index')}">SKU列表</a>
			<span>|</span>
			<a href="{:U('Stock/Sku/add')}">添加SKU</a>
		</div>
		<div class="right">
			<a href="">后退</a>
			<span>|</span>
			<a href="">刷新</a>
		</div>
	</div>
	<div class="content">
		<div class="search">
			<form action="{:U('Stock/Sku/index')}" method="post">
				<table class="search-table">
					<tr>
						<td width="5%">SKU ID：</td>
						<td width="10%"><input type="text" name="sku_id"></td>
						<td width="5%">货号：</td>
						<td width="10%"><input type="text" name="goods"></td>
						<td width="5%">尺码：</td>
						<td width="10%"><input type="text" name="size"></td>
						<td width="5%">条形码：</td>
						<td width="10%"><input type="text" name="bar_code"></td>
						<td width="5%"><input type="submit" value="搜索"></td>
					</tr>
				</table>
			</form>
		</div>
		<table class="content-table">
			<thead>
				<tr>
					<td width="5%" align="center">SKU ID</td>
					<td width="15%" align="center">货号</td>
					<td width="15%" align="center">尺码</td>
					<td width="15%" align="center">条形码</td>
					<td width="10%" align="center">添加时间</td>
					<td width="10%" align="center">修改时间</td>
					<td width="10%" align="center">管理操作</td>
				</tr>
			</thead>
			<tbody>
				<foreach name="supplierList" item="v">
					<tr>
						<td align="center">{$v.id}</td>
						<td align="center">{$v.name}</td>
						<td align="center">
							<eq name="v['kind_id']" value="1">综合</eq>
							<eq name="v['kind_id']" value="2">自有品牌</eq>
						</td>
						<td align="center">{$v.brand_id}</td>
						<td align="center">{$v.manager}</td>
						<td align="center">{$v.mobile}</td>
						<td align="center">{$v.qq}</td>
						<td align="center">{$v.email}</td>
						<td align="center">
							<a href="{:U('Purchase/Supplier/edit',array('id'=>$v['id']))}">编辑</a>
							<a href="{:U('Purchase/Supplier/del',array('id'=>$v['id']))}">删除</a>
						</td>
					</tr>
				</foreach>
			</tbody>
		</table>
	</div>
</body>
</html>