<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<link rel="stylesheet" href="__STATIC__/Org/Bootstrap/css/Bootstrap.min.css">
	<link rel="stylesheet" href="__STATIC__/Css/public.css">
	<link rel="stylesheet" href="__STATIC__/Css/content.css">
</head>
<body>
	<div class="warp">
		<div class="content-menu">
			<div class="left">
				<a href="{|U:'Product/Product/index'}">商品列表</a>
				<span>|</span>
				<a href="{|U:'Product/Product/add'}">添加商品</a>
			</div>
			<div class="right">
				<a href="">后退</a>
				<span>|</span>
				<a href="">刷新</a>
			</div>
		</div>
		<div class="content-text">
			<table>
				<thead>
					<tr>
						<td width="5%" align="center">商品ID</td>
						<td width="10%" align="center">商品图片</td>
						<td width="10%" align="left">货号</td>
						<td width="20%" align="left">商品名称</td>
						<td width="10%" align="center">所属分类</td>
						<td width="10%" align="center">品牌</td>
						<td width="5%" align="center">市场价</td>
						<td width="10%" align="center">生产日期</td>
						<td width="10%" align="center">添加日期</td>
						<td width="10%" align="center">管理操作</td>
					</tr>
				</thead>
				<tbody>
					<foreach from="$data" key="$k" value="$v">
						<tr>
							<td align="center">{$v.id}</td>
							<td align="center">
								<img src="{$v.pic}" alt="">
							</td>
							<td align="left">{$v.goods}</td>
							<td align="left">{$v.name}</td>
							<td align="center">{$v.category_name}</td>
							<td align="center">{$v.brand_name}</td>
							<td align="center">{$v.marked_price}</td>
							<td align="center">{$v.manuf_date}</td>
							<td align="center">{$v.add_date}</td>
							<td align="center">
								<a href="{|U:'Product/Product/edit',array('pid'=>$v['pid'])}">编辑</a>
								<a href="{|U:'Product/Product/del',array('pid'=>$v['pid'])}">删除</a>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>