<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>品牌管理</title>
	<link rel="stylesheet" href="__PUBLIC__/Org/Bootstrap/css/Bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/content.css">
</head>
<body>
	<div class="submenu">
		<div class="left">
			<a href="-{:U('Product/Brand/index')}-">品牌列表</a>
			<span>|</span>
			<a href="-{:U('Product/Brand/add')}-">添加品牌</a>
		</div>
		<div class="right">
			<a href="">后退</a>
			<span>|</span>
			<a href="">刷新</a>
		</div>
	</div>
	<div class="content">
		<table class="content-table">
			<thead>
				<tr>
					<td width="5%" align="center">ID</td>
					<td width="10%" align="center">Logo</td>
					<td width="20%" align="left">品牌名称</td>
					<td width="20%" align="left">英文名称</td>
					<td width="10%" align="center">操作</td>
				</tr>
			</thead>
			<tbody>
				<foreach name="brandList" item="v">
					<tr>
						<td align="center">-{$v.id}-</td>
						<td align="center">
							<img src="__ROOT__/Attached/-{$v.logo}-" alt="">
						</td>
						<td align="left">-{$v.name}-</td>
						<td align="left">-{$v.en_name}-</td>
						<td align="center">
							<a href="-{:U('Product/Brand/edit',array('id'=>$v['id']))}-">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>&nbsp;
							<a href="-{:U('Product/Brand/del',array('id'=>$v['id']))}-">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</td>
					</tr>
				</foreach>
			</tbody>
		</table>
	</div>
</body>
</html>