.head {
  width: 100%;
  height: 60px;
  background: #2C75C7;
  position: relative;
}
.head .logo {
  float: left;
  margin: 10px 0 0 10px;
}
.head .logo img {
  width: 80px;
  height: 60px;
}
.head .nav {
  position: absolute;
  left: 160px;
  bottom: 0;
}
.head .nav li {
  float: left;
}
.head .nav li a {
  display: block;
  background: #3985E6;
  padding: 8px 15px;
  margin-right: 5px;
  border-radius: 3px;
  color: #FFFFFF;
}
.head .info {
  float: right;
  width: 300px;
  height: 100%;
  color: #FFFFFF;
}
.head .info .user {
  float: left;
  height: 40px;
  line-height: 20px;
  font-size: 13px;
  padding-top: 20px;
}
.head .info .exit {
  float: right;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 60px;
}
.head .info .exit a {
  display: block;
  height: 100%;
  background: #215794;
  color: red;
}
.head .info .exit a:hover {
  background: #194271;
}
.main {
  width: 100%;
  min-height: 640px;
}
.aside {
  float: left;
  width: 160px;
  height: 640px;
}
.content {
  overflow: hidden;
  height: 640px;
  background: #FFFFFF;
}
.crumbs {
  height: 25px;
  line-height: 25px;
  background: #e2e9ea url("../../Images/admin-crumbs-icon.png") no-repeat 3px -21px;
  padding: 0px 18px;
  margin-bottom: 1px;
}
