table {
  width: 100%;
  border-spacing: 0;
}
thead {
  background: #eef3f7;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
}
thead td {
  border-bottom: 1px solid #ccc;
}
tbody tr {
  border-bottom: 1px solid #ccc;
}
tbody tr:hover {
  background: #EEEEEE;
}
.warp {
  padding-left: 10px;
}
.content-menu {
  line-height: 25px;
  overflow: hidden;
  padding: 2px 0;
  border-bottom: 1px solid #ccc;
}
.content-menu .left {
  float: left;
}
.content-menu .right {
  float: right;
  margin-right: 10px;
}
.content-menu a {
  padding: 3px 10px;
  background: #5288AE;
  color: #FFFFFF;
  border-radius: 5px;
}
.content-menu span {
  margin: 0 5px;
}
.content-text {
  line-height: 30px;
}
.content-text form {
  margin: 0px 0 30px 0;
}
.content-text td {
  padding: 5px 0;
}
.content-text input[type=text] {
  width: 200px;
  line-height: 15px;
  padding: 6px 5px;
}
.content-text input[type=file] {
  width: 200px;
  line-height: 15px;
  padding: 6px 5px;
}
.content-text input[type=submit] {
  width: 60px;
  padding: 3px 5px;
  margin-top: 20px;
}
.content-text select {
  width: 204px;
  height: 28px;
}
.content-text select option {
  padding: 5px 10px;
}
.content-text textarea {
  width: 200px;
  height: 80px;
  line-height: 20px;
  padding: 0 5px;
}
.content-text .ways {
  font-weight: bold;
  line-height: 20px;
  background: #eef3f7;
}
.content-text .note {
  color: darkred;
}
