li {
  margin-bottom: 5px;
  background: #fff;
}
li h4 {
  margin-bottom: 5px;
  padding: 5px 15px;
  background: #3BA8E0;
  color: #FFFFFF;
  border-bottom: 1px solid red;
}
li a {
  display: block;
  padding: 5px 30px;
}
li a:hover {
  background: #888;
  color: #fff;
}
